body{
    font-family: sans-serif;
}
.header-background{
    background-color: #264653;
    color: white;
}
.header-paragraph{
    color: #E0E0E0;
}
.header-btn{
    background-color: #E76F51;
    border: none;
    border-radius: 5px;
    width: 168px;
    height: 44px;
    color: white;
}
.colored-text{
    color: #E76F51;
    font-weight: 600;
}
.gray-bike{
    filter: grayscale(100%);
}
.feature-bike img{
    height: 233px;
    width: 298px;
}
.clients img{
    width: 149px;
    height: 149px;
}
.clients-text{
    color: #6C6C6C;
}
.rating-checked {
    color: #E77C40;
}
.accordian-text{
    color: #7E848C;
}