body{
    font-family: 'Poppins', sans-serif;
}
.dark-blue-background{
    background-color: #264653;
    color: white;
}
.header-paragraph{
    color: #E0E0E0;
}
.button{
    background-color: #E76F51;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    text-decoration: none;
}
.colored-text{
    color: #E76F51;
    font-weight: 600;
}
.gray-bike{
    filter: grayscale(100%);
}
.feature-bike img{
    height: 233px;
    width: 298px;
}
.clients img{
    width: 149px;
    height: 149px;
}
.clients-text{
    color: #6C6C6C;
}
.fa-star.filled{
    color: #E77C40;
}
.fa-star.empty{
    color: gray;
}
.accordian-text{
    color: #7E848C;
}